<!-- <h1>%category%</h1> -->
<div class="artists-about" hidden>
	<div class="left">
		<h1>Tool's roster of artist collaborators is a mix of influential creators across many disciplines:</h1>
		<h2>Virtual Reality, Artificial Intelligence, Augmented Reality, Robotics, Installations, and Physical Computing.</h2>
	</div>
	<div class="right">
		<h3>Our mission is to produce experimental art projects that push a medium forward and continue working with our clients to produce disruptive creative for brands looking to break ground with culturally relevant messaging.</h3>	
	</div>
</div>


<ul class="column-single">
    %for(single)%
    <li><a href="%this.slug%"><div></div><h4>%this.name%</h4></a></li>
    %for%
</ul>

<ul class="column-left">
    %for(left)%
    <li><a href="%this.slug%"><div></div><h4>%this.name%</h4></a></li>
    %for%
</ul>

<ul class="column-right">
    %for(right)%
    <li><a href="%this.slug%"><div></div><h4>%this.name%</h4></a></li>
    %for%
</ul>
