<div class="background-left"></div>
<div class="background-right"></div>


<div id="directors-category-left" class="category-left">
    <span class="redblock"></span>

    <h1>LIVE</h1>
    <h1>ACTION</h1>

    <p>%live-action.description%</p>
    <span class="blackblock"></span>
</div>

<div id="directors-category-right" class="category-right">
    <span class="redblock"></span>

    <h1>INTER-</h1>
    <h1>ACTIVE</h1>

    <p>%interactive.description%</p>
    <span class="blackblock"></span>
</div>

<div class="divider">
    <div></div>
</div>

<div id="background-reveal-left"></div>
<div id="background-reveal-right"></div>

<div class="divider-reveal">
    <div id="directors-divider"></div>
</div>


