<div class='head'>
    <h3></h3>

    <h1>%name%</h1>

    %if(_template.exists('reel'))%
    <div class="launch" id="director-item-view-reel"><a href="#/reel/%slug%">VIEW
        <small>REEL</small>
    </a></div>
    %if%
</div>

<div id="director-item-video-controls">
</div>

<div class="tail" id="belowTheFold">

    <div class="work"
    %_template.displayForUndefined('work')%>

    <h2 id="director-work">WORK</h2>

    %for(work)%
    <div class="thumb">
        <a href="%this.slug%">
            <img src="%this.thumb%">

            <div class="overlay"></div>
            <div class="text-background"></div>
            <div class="label">
                %if(this.client)%<h5>%this.client%</h5>%if%
                <h4>%this.project%</h4>
            </div>
        </a>
    </div>
    %for%

</div>

<div class="bio" %_template.displayForUndefined('bio')%>

<h2 id="director-biography">BIOGRAPHY</h2>

<div class="column">
    <h3>%bio.header%</h3>
</div>

<div class="column">
    <p>%bio.content.split('##')[0]%</p>
</div>

<div class="column">
    <p>%bio.content.split('##')[1]%</p>
</div>

</div>
<div class="social-links">
    %if(bio.socials)%<h3>Follow %name%</h3>%if%
    %if(bio.twitter)%<a href='%bio.twitter%' target='_blank'><img src="./assets/imgs/global/icon-twitter.png" /></a>%if%
    %if(bio.facebook)%<a href='%bio.facebook%' target='_blank'><img src="./assets/imgs/global/icon-facebook.png" /></a>%if%
    %if(bio.instagram)%<a href='%bio.instagram%' target='_blank'><img src="./assets/imgs/global/icon-instagram.png" /></a>%if%
</div>

<div class="awards" %_template.displayForUndefined('awards')%>

<h2 id="director-awards">AWARDS</h2>

<ul class="headers">
    <li>
        <div>project</div>
        <div>awards</div>
        <div>direction</div>
        <div>details</div>
    </li>
</ul>

<ul class="project">
    %for(awards)%
    <li>
        <div>
            %if(this.client)%<h6>%this.client%</h6><br>%if%
            %if(this.slug)%<a href="%this.slug%">%if%%this.project%%if(this.slug)%</a>%if%
        </div>
        <div>
            %this.awards%
        </div>
        <div>
            %this.direction%
        </div>
        <div class="details">
            %if(this.agency)%<h5>AGENCY —</h5><h6>%this.agency%</h6><br>%if%
            %if(this.year)%<h5>YEAR —</h5><h6> %this.year%</h6>%if%
        </div>
    </li>
    %for%
</ul>
</div>

<div class="recognition" %_template.displayForUndefined('recognition')%>

<h2 id="director-recognition">RECOGNITION</h2>

<ul>
    %for(recognition)%
    <li>
        <a href="%this.url%" target="_blank">
            <div>%this.source%</div>
            <div>%this.title%</div>
            <div>%this.year%</div>
        </a>
    </li>
    %for%
</ul>

</div>

</div>
