<div id="footer">
    <div class="title">Follow Us</div>
    <div class="links">
        <div class="social-link facebook"><a target="_blank" href="https://www.facebook.com/toolofna/"><img src="assets/imgs/global/icon-facebook.png" /></a></div>
        <div class="social-link instagram"><a target="_blank" href="https://www.instagram.com/toolofna/?hl=en"><img src="assets/imgs/global/icon-instagram.png" /></a></div>
        <div class="social-link twitter"><a target="_blank" href="https://twitter.com/toolofna?lang=en"><img src="assets/imgs/global/icon-twitter.png" /></a></div>
        <div class="social-link email"><img src="assets/imgs/global/icon-mail.png" /></div>
    </div>
</div>
<div id="email-signup-container">
    <div id="email-signup">
        <div class="email-close-button">X</div>
        <form id="email-signup-form">
            <div class="title">Sign Up For Our Newsletter</div>
            <input type="email" name="email" id="email" placeholder="Please enter a valid email" />
            <button id="submit-email-button" type="button">Submit <span class="arrow">&#187;</span></button>
        </form>
    </div>
</div>