<div class='head' id='work-item-head'>
    <h3>%client%</h3>

    <h1>%name%</h1>
    <ul>

        %dirlist%

        %if(_template.exists('agency'))%
        <li>
            %for(agency)%%this.name%%for%
            <small>AGENCY</small>
        </li>
        %if%

        <li id="work-item-video">
            <a>VIEW
                <small>VIDEO</small>
            </a>
        </li>

        %if(_template.exists('casestudy'))%
        <li>
            <a id="work-item-case-study-video" >VIEW
                <small>ADDITIONAL VIDEO</small>
            </a>
        </li>
        %if%

        %if(_template.exists('link'))%
        <li>
            <div id="work-item-launch-project"><a href="%link%" target="_blank">LAUNCH
                <small>PROJECT</small>
            </a></div>
        </li>
        %if%

        <li id="viewMoreBlock">
            <a id="viewMoreLink">MORE</a>
            <a id="viewLessLink">LESS</a>
            <small id="moreless">INFORMATION</small>
        </li>
    </ul>
</div>

<div id="work-item-video-controls">
</div>

<div class='tail'>

    <ul id='belowTheFold'>

        <li class='animatable info-details' %_template.displayForUndefined('description')%>
        <small>Description</small>
        <section>%description%</section>
        </li>

        <li class="animatable separator" %_template.displayForUndefined('awards')%>
        <div></div>
        <div></div>
        </li>

        <li class='animatable info-details' %_template.displayForUndefined('awards')%>
        <small>AWARDS</small>

        <ul>
            %for(awards)%
            <li class="award">
                <span class='icon white icon-%this[0].toLowerCase()%'></span><h4>%this[1]%</h4>
            </li>
            %for%
        </ul>

        </li>

        <li class="animatable separator" %_template.displayForUndefined('press')%>
        <div></div>
        <div></div>
        </li>

        <li class='animatable info-details' %_template.displayForUndefined('press')%>
        <small>Press</small>

        <ul>
            %for(press)%
            <li><a href="%this.url%" target="_blank">%this.name%</a></li>
            %for%
        </ul>

        </li>

        <li class="animatable separator" %_template.displayForUndefined('tags')%>
        <div></div>
        <div></div>
        </li>

        <li class='animatable info-details' %_template.displayForUndefined('tags')%>
        <small>Tags</small>

        <ul>
            %for(tags)%
            <li><a href="#/work/tag/%this%">%this%</a></li>
            %for%
        </ul>

        </li>

    </ul>

</div>