<div id="top">
  <img src="<%=top.splashMobile%>"/>
  <nav>
    <%fori(subnavi.navi, function(nav, i){%>
    <a class="nav-item" href="<%=nav[i].slug%>">
      <span>view</span>

      <h1>
        <%=nav[i].name%>
      </h1>
    </a>
    <%})%>
  </nav>
</div>

<section id="tool">
  <!--
  <div class="white block">
    <p class="wit">
      Tool has been convincing people to buy things they don’t really need since 1995.
    </p>
    <hr>
    <p>
      We’re an integrated production company with a solid foundation, time-honed best practices and efficiencies, but
      we’re also a company that has continued to innovate and grow. While others have been complacent and withered (like
      sad flowers), Tool, hoping to make things “really, really easy for its sales team,” has crafted both a broadcast
      and digital roster with a broad range of specialties and styles.
    </p>
    <hr>
  </div>
  -->
  <div class="black block">
    <hr class="red">
     <p>We are a production company based in Santa Monica, California, with offices in NY and London, which has partnered with some of the most famous brands and entertainment icons in the world. Whether working with agencies or brands directly—sometimes coming up with the concept and other times helping to evolve the idea’s value and scale through collaboration, understanding, storytelling, and innovation—we have created a solid foundation that has kept us flourishing in advertising and entertainment for almost 20 years.</p>
    
    <p class="wit">We are Artists. Creative Directors. Directors. Designers. Producers. Technologists. Dreamers. Inventors.</p>
    
    <p>If we can think it, we can make it.</p>
    <p>We specialize in visual storytelling through video, interactive installations, and digital experiences, constantly striving to break new ground in everything we do. We both embrace and invent new technologies, always remaining true to the ideas we are bringing to life, and to our agencies and brand partners.</p>
    
    <p>We have been honored at the Emmys, Webbys, DGA Awards, Oscars, SXSW, AICPs, and with Cannes Lions. Tool has been ranked as one of the top five, most award-winning companies by Creativity Magazine.</p>
    <!--
    <p>
      As a result, our roster is stocked with elite directors and a full blown in-house digital team who are working
      with the world's most famous brands on every thing from web films and Super Bowl spots to ingenious mobile apps
      and Emmy-winning web experiences.
    </p>

    <p>
      In 2012, Tool continued its streak and is once again featured in Creativity’s Top Production Company A-List. (Tool
      is one of just nine production companies selected for the A-list each of the last four years.) Tool also ranked as
      one of the top-ten, most award-winning companies for 2012 (see <a
      href="http://creativity-online.com/news/production-alist-tool/239740" target="_blank">Creativity awards profile</a>),
      scored in Shots “Top-Ten” of production companies worldwide and was listed by Fast Company—along with DreamWorks
      and Netflix—as one of the top ten “Most Innovative Companies In Film.”
    </p>

    <p>
      With offices in Los Angeles, New York, and London, Tool has staffed up, expanded and only works with the most
      amazing caterers. So, if you’re looking to partner with us on a project that can only mean good things for you.
    </p>
    -->
    <hr>
  </div>
</section>


<section id="live-action">
  <header>
    <hr>
    <h1>live-action</h1>
    <img src="assets/imgs/about/mobile_liveaction.jpg"/>
    <hr>
  </header>

  <div class="black block">
    <hr>
    <p>
      From comedy dialogue to powerful visual storytelling. From documentary to music videos. From TV spots to
      interactive videos. From branded entertainment to short films. From full-length feature films to web films.
    </p>
<!--
    <p class="wit">
      Tool’s directorial roster has never been stronger, more varied*, better supported, or driven cooler cars.
    </p>
-->
    <p>
      Tool’s directors have won every possible award: Emmy's, DGA Awards, Oscars, SXSW, Cannes Lions (the Gold ones),
      etc. We also have many spots housed in New York’s Museum of Modern Art. And, most recently, Tool was ranked as one
      of the top-ten, most award-winning companies for 2012 (see Creativity awards profile).
    </p>

    <p class="annotation">
      <sup>*</sup>The great diversity seen in the Tool directors comes in part from their varied backgrounds as
      former agency creatives, cinematographers, designers, artists, writers, and one collegiate gymnast.
    </p>

  </div>

  <div class="projects" style="background-color:black">
  	
    <h1>Commercial</h1>
    
    <a href="#!/work/lotus-f1" class="project"> 
        <img src="http://toolofna.com/cms/wp-content/uploads/2014/04/f1-372x214.jpg" />
        <header>
            <h3>Microsoft</h3>
            <h2>Lotus F1</h2>
        </header>
        <div class="shadow"></div>
    </a>
    	
    <a href="#!/work/speak-the-language" class="project">
        <img src="http://toolofna.com/cms/wp-content/uploads/2014/09/language-372x214.jpg"> 
        <header>
            <h3>Comcast</h3>
            <h2>Speak the Language</h2>
        </header>
        <div class="shadow"></div>
    </a>
      
    <a href="#!/work/this-world-anthem" class="project">  
        <img src="http://toolofna.com/cms/wp-content/uploads/2014/02/ford_3-372x214.jpg"> 
        <header>
          	<h3>Ford</h3>
			<h2>"This World" Anthem</h2>
        </header>
        <div class="shadow"></div>
    </a>
    

	<h1>Branded Content</h1>
    
    <a href="#/work/mandible" class="project">
        <img src="assets/imgs/about/thumbs/live-action/branded/mandable-208.jpg">
        <div class="overlay"></div>
        <header>
          	<h3>NBFF</h3>
        	<h2>Mandible</h2>
        </header>
        <div class="shadow"></div>
    </a>
    
  
    
    <a href="#/work/3000-mile-test-drive" class="project">
        <img src="http://toolofna.com/cms/wp-content/uploads/2014/10/3ktestdrive-744x428.jpg">
        <header>
          	<h3>Hyundai</h3>
			<h2>3,000 Mile Test Drive</h2>

        </header>
        <div class="shadow"></div>
	</a>
    
    <a href="#/work/" class="project">
        <img src="assets/imgs/about/thumbs/live-action/branded/clouds-208.jpg">
        <header>
          	<h3>JFK Presidential Library</h3>
        	<h2>Clouds Over Cuba</h2>
        </header>
        <div class="shadow"></div>
    </a>
    
    <h1>Promos</h1>
	
    <a href="#/work/star-trek" class="project">
        <img src="assets/imgs/about/thumbs/live-action/promos/startrek-208.jpg">
        <header>
          	<h3>ESPN </h3>
        	<h2>Star Trek</h2>
        </header>
        <div class="shadow"></div>
	</a>
    
    <a href="#/work/requiem-for-a-living-room" class="project">
        <img src="http://toolofna.com/cms/wp-content/uploads/2014/10/hbo_livingroom-744x428.jpg">
        <header>
          	<h3>ESPN</h3>
          	<h2>Requiem for a Living Room</h2>
        </header>
        <div class="shadow"></div>
    </a>
    
    <a href="#/work/muse" class="project">
        <img src="assets/imgs/about/thumbs/live-action/promos/muse-208.jpg">
        <header>
          	<h3>NBFF</h3>
          	<h2>Muse</h2>	
        </header>
        <div class="shadow"></div>
    </a>
    
	<h1>Music Videos</h1>
    
	<a href="#/work/fjogur-piano" class="project">
        <img src="assets/imgs/about/thumbs/live-action/musicvideos/siguros-208.jpg">
        <header>
          	<h3>Sigur Ros</h3>
          	<h2>Fjogur Piano</h2>
        </header>
        <div class="shadow"></div>
    </a>
    <a href="#/work/lost-in-the-echo-2" class="project">
        <img src="assets/imgs/about/thumbs/live-action/musicvideos/linkinpark-208.jpg">
        <header>
          	<h3>linkin park</h3>
          	<h2>lost in the echo</h2>
        </header>
        <div class="shadow"></div>
    </a>
    <a href="#/work/ive-seen-enough" class="project">
        <img src="assets/imgs/about/thumbs/live-action/musicvideos/coldwarkids-208.jpg">
        <header>
          	<h3>Cold War Kids</h3>
          	<h2>I've seen enough</h2>
        </header>
        <div class="shadow"></div>
    </a>

  <!--<hr>-->
</section>


<section id="digital">

  <header>
    <hr>
    <h1>digital</h1>

    <div class="contents">

      <h3>Tool's digital capabilities include</h3>

      <h3>interactive and post-production.</h3>
    </div>
    <img src="assets/imgs/about/mobile_digital.jpg"/>
    <hr>
  </header>

  <div class="white block">
    <hr>
    <p>
      By having these services in-house, our team can collaborate on integrated productions and insure the creative
      vision is carried through all facets of the project.
    </p>

    <p>
     Our team of 30 consists of Developers, Designers, Motion & Producers.  The team
      is made up of veterans from all facets of the interactive space that have won
      awards ranging from FWA to Cannes to One Show Interactive.
    </p>

    <div id="awards">
      <div class="award">
        <div class="icon icon-the-one-show"></div>
        <hr>
        <div class="count">20</div>
      </div>
      <div class="award">
        <div class="icon icon-fwa"></div>
        <hr>
        <div class="count">21</div>
      </div>
      <div class="award">
        <div class="icon icon-aicp"></div>
        <hr>
        <div class="count">09</div>
      </div>
    </div>

    <hr>

    <a href="#/awards" class="cta-button">view all awards</a>

  </div>

  <div class="black block">
    <hr>
    <h2>interactive</h2>

    <p>
      Central to our approach to interactive production is the role of Interactive Directors.  We represent a roster of
      some of the most highly awarded and recognized creatives and technologists in the interactive space.  Our
      interactive directors work with our clients to oversee the direction for a project in collaboration with our
      in-house team.  
    </p>

    <p>
      The combination between in-house and interactive directors allows our team to bring the industry's best talent to
      the execution of innovative interactive productions.
    </p>
    <hr>

  </div>




  <div class="projects">
    <a href="#/work/clouds-over-cuba" class="project">
    	<h1>Integrated</h1>
        <img src="assets/imgs/about/thumbs/digital/integrated/cloudsovercuba-360.jpg">
        <header>
            <h3>JFK Presidential Library</h3>
            <h2>clouds over cuba</h2>
        </header>
        <div class="shadow"></div>
    </a>
    
    
    
    <a href="#!/work/us-open-sessions" class="project">
        <h1>HTML5</h1>
        <img src="http://toolofna.com/cms/wp-content/uploads/2014/08/ibm_us_open-372x214.jpg">
        <header>
            <h3>IBM</h3>
            <h2>US Open Sessions</h2>
        </header>
        <div class="shadow"></div>
    </a>
    
   
    
    <a href="#!/work/heart-bot" class="project">
    	 <h1>Installation</h1>
        <img src="http://toolofna.com/cms/wp-content/uploads/2014/08/Heart-Bot-372x214.jpg">
        <header>
          	<h3>Intel</h3>
          	<h2>Heart Bot</h2>
        </header>
    	<div class="shadow"></div>
    </a>
    
    
    
    <a href="#/work/help-i-have-the-flu" class="project">
    	<h1>Social</h1>
        <img src="assets/imgs/about/thumbs/digital/social/help-360.jpg">
        <header>
            <h3>Help Remedies</h3>
            <h2>Help I have the flu</h2>
        </header>
    	<div class="shadow"></div>
    </a>
  </div>

  <div class="white block">
    <hr>
    <h2>post-production</h2>

    <p>
      We believe that post-production for interactive productions doesn't have to be restricted to Final Cut Pro.  We
      have a post facility located within our office that includes a Davinci Color System, Avid Machines, 3D Studio Max,
      Cinema 4D and Final Cut Pro.  
    </p>

  </div>

  <div class="projects">
    <% fori(projects.post.items, function(p, i){ %>
    <a href="<%= p[i].url %>" class="project">

      <img src="<%= p[i].img %>"/>

      <header>
        <h3><%= p[i].client %></h3>

        <h2><%= p[i].name %></h2>
      </header>

      <div class="shadow"></div>
    </a>
    <%})%>
  </div>

  <div class="annotation">

  </div>

  <div id="bottom-logo" style="background-image: url('assets/imgs/global/nav-logo.png');"></div>

</section>




