<div id="director">

  <section id="work">
    <header class="top">
      <h2>work</h2>

      <h2><%=name%></h2>
    </header>
    <%fori(work, function(w, i){%>
    <div class="project">

      <a href="<%=w[i].slug%>" target="_self">
        <img src="<%=w[i].thumb%>" alt="<%=w[i].project%>"/>

        <header>
          <h4><%=w[i].client%></h4>
          <h3><%=w[i].project%></h3>
        </header>
      </a>

      <div class="shadow"></div>

    </div>
    <%})%>
  </section>

  <section id="biography">
    <header>
      <h2>biography</h2>

      <h2><%=name%></h2>
    </header>
    <p>
      <%=bio.header%>
    </p>

    <div class="line"></div>
    <p>
      <%=bio.content%>
    </p>
    <div class="social-links">
      <% if(bio.socials) { %><h3>Follow <%=name %></h3><% } %>
      <% if(bio.twitter) { %><a href='%bio.twitter%' target='_blank'><img src="./assets/imgs/global/icon-twitter.png" /></a><% } %>
      <% if(bio.facebook) { %><a href='%bio.facebook%' target='_blank'><img src="./assets/imgs/global/icon-facebook.png" /></a><% } %>
      <% if(bio.instagram){ %><a href='%bio.instagram%' target='_blank'><img src="./assets/imgs/global/icon-instagram.png" /></a><% } %>
     </div>

  </section>


  <%if(awards.length > 0){%>
  <section id="awards">
    <header>
      <h2>awards</h2>

      <h2><%=name%></h2>
    </header>

    <%fori(awards, function(p, j){%>

    <div class="project-awards">
      <div class="project-info">
        <a href="<%=p[j].slug%>"> <%=p[j].project%></a>
        <span><%=p[j].year%> <%if(p[j].client){%>/ <%=p[j].client%><%}%></span>
      </div>

      <%fori(p[j].awards, function(a, i){%>
      <div class="award-info">
        <div class="icon white icon-<%=a[i][0].toLowerCase()%>"></div>
        <span><%=a[i][1]%></span>
      </div>
      <%})%>

    </div>

    <%})%>
  </section>
  <%}%>


  <%if(recognition.length > 0){%>
  <section id="press">
    <header>
      <h2>press</h2>

      <h2><%=name%></h2>
    </header>
    <% fori(recognition, function(r, i){ %>
    <a class="item" href="<%= r[i].url %>" target="_blank">
      <div>
        <%= r[i].title %>
      </div>
      <div>
        <%= r[i].year %> / <%= r[i].source %>
      </div>
    </a>
    <% }) %>
  </section>
  <%}%>


</div>