<div id="top-bar" class="nav">
  <div id="open-menu-btn">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <a href="./#/home" id="logo" style="background-image: url('assets/imgs/global/nav-logo.png')"></a>
  <a id="plus-btn">
    <div class="wrapper">
      <div></div>
      <div></div>
    </div>
  </a>
</div>

<ul id="side-nav" class="closed nav">
  <a href="#/home" id="nav-home-btn">tool of north america</a>

  <% fori(sections, function(s, i){ %>

    <a class="nav-item"
      <% if(s[i].url){ %>
        href="<%= s[i].url %>"
        target="<%= s[i].target %>"
      <% } %>

      <% if(!s[i].sub_sections){ %>
      href="#/<%= s[i].id %>"
      id="nav-<%= s[i].id %>"
      <% } %>
      >
      <span><%= 0 + (i+1).toString() %></span><%= s[i].title %>

    </a>

  <%if(s[i].sub_sections){%>
    <div class="accordion closed">
    <% fori(s[i].sub_sections, function(subs, j){ %>
      <a href="#/<%= s[i].id.split('/')[0] + '/tag/' + subs[j] %>"> <span>- </span><%= subs[j] %></a>
    <% }) %>
    </div>
  <%}%>

  <% }) %>
</ul>
