<% fori(projects, function(p, i){ %>
<div class="project-box">

  <div class="project down-facing">
    <a class="poster" href="<%= p[i].slug %>" data-src="<%= p[i].thumbSmall %>">
    </a>

    <div class="project-title">
      <%if(p[i].client[0]){%>
      <h3><a><%= p[i].client[0].name %></a></h3>
      <%}%>
      <h2><%= p[i].name %></h2>
      <% if(p[i].directors){ %>
      <h3>

        <%

          var intDirectorNames = [];
          var directorNames = [];

          fori(p[i].directors || [], function(d, j){
            if(d[j].role == "Director")
              directorNames.push(d[j].name);
            else
              intDirectorNames.push(d[j].name);

           });

          directorNames.sort();
          intDirectorNames.sort();

          directorNames = directorNames.concat(intDirectorNames);

          fori(directorNames, function(d, j){
            var tag = '<a>' + d[j]
            print(tag);
            if(j < d.length - 1)
              print(',');
            print('  </a>');
          });
        %>

      </h3>
      <% } %>
    </div>
    <div class="shadow"></div>
  </div>
</div>
<%})%>
