<!--tagged category page-->
<%if(tag){%>
<h1><%=tag%></h1>
<%}%>

<!--specific project page-->
<% if(!tag){%>
<div class="project page">
  <% if(splashVideo){ %>
  <video id="vplayer" <% if(splashImage){ %> poster="<%= splashImage %>" <% } %> controls autoplay src="<%= getVideoUrl(splashVideo) %>">
  </video>
  <% } %>

  <% if(thumbSmall){ %>
  <img id="projectPoster" src="<%= thumbSmall %>"/>
  <% } %>

  <div class="title">
    <header>
      <h2 class="large"><%= name %></h2>
      <%if(casestudy){%>
      <h3 class="view-additional">view additional video &#187;</h3>
      <%}%>
    </header>
    <hr>
  </div>

  <div class="info">

    <div class="directors">
      <h3><span><%= directors[0].role %><% if(directors.length > 1) print('s') %> <hr> </span>

        <%

        var intDirectorNames = [];
        var directorNames = [];

        fori(directors || [], function(d, j){
          if(d[j].role == "Director")
            directorNames.push(d[j].name);
          else
            intDirectorNames.push(d[j].name);
        });

        directorNames.sort();
        intDirectorNames.sort();

        directorNames = directorNames.concat(intDirectorNames);

        fori(directorNames, function(d, j){
          var tag = '<a href="#/director/'+ directors[j].name.replace(/ /g, '-').toLowerCase() + '">' + d[j] + '</a>'
          print(tag);
          if(j < d.length - 1)
            print(', ');
          print('</a>');
        });
        %>

      </h3>
    </div>

    <%if(client){%>
    <div class="client">
      <h3><span>client <hr> </span><a><%= client %></a></h3>
    </div>
    <%}%>

    <%if(agency){%>
    <div class="agency">

      <h3><span>agency <hr> </span>

        <% fori(agency, function(agency, i){ %>
        <a><%=agency[i].name%>
          <%if(i < agency.length-1){ %><%= ',' %><% } %></a>
        <% }) %>

      </h3>
    </div>
    <%}%>


    <%if(awards.length > 0){%>
    <div class="awards">
      <h3><span>awards <hr> </span></h3>
      <div class="table">
        <% fori(awards, function(award, i){ %>
        <div class="award">
          <div class="icon white icon-<%=awards[i][0]%>">
          </div>
          <%if(awards[i].count > 1){%>
      <span class="count">
       x <%= awards[i].count%>
      </span>
          <% } %>
        </div>
        <% }) %>
      </div>
    </div>
    <%}%>

    <%if(press.length > 0){%>
    <div class="press">
      <h3><span>press <hr> </span></h3>
      <div class="table">
        <% fori(press, function(press, i){ %>
        <div class="press-item">
          <a href="<%= press[i].url %>" target="_blank"><%= press[i].name %></a>
        </div>
        <% }) %>
      </div>
    </div>
    <%}%>

    <%if(tags.length > 0){%>
    <div class="tags">
      <h3><span>categories <hr> </span></h3>
      <div class="table">
        <% fori(tags, function(tags, i){ %>
        <a class="tag" href="#/work/tag/<%= tags[i] %>" target="_self"><%=tags[i]%></a>
        <% }) %>
      </div>
    </div>
    <%}%>

  </div>

</div>
<% } %>
